<%-include('include/_cover')%>
<%-include('include/_header')%>
<!-- "Go Up" button -->
<div id="go-up-button" class="btn btn-dark" style="background-color: orange; display: none;">
    <i class="fa fa-arrow-up" style="margin-right:1rem"></i>
</div>
<!-- Loader -->
<div class="loader">
    <div class="spinner"></div>
    <div class="loader-text">FeetSoe...</div>
</div>
    <section class="about-section bg-dark text-light py-5">
        <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
                <h1 class="display-4">About Us</h1>
                <p class="lead">We are a passionate team dedicated to delivering
                    high-quality footwear products for all.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://media1.tenor.com/images/72d3dec2877bab3e129e58579e9a2291/tenor.gif?itemid=8989594"
                            class="card-img-top" alt="Men's Footwear">
                        <div class="card-body">
                            <h5 class="card-title">Men's Footwear</h5>
                            <p data-aos="zoom-out" class="card-text">Explore our stylish and comfortable
                                collection of men's footwear.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://25.media.tumblr.com/f6a098cccb070916c3fd58284d804758/tumblr_mgxr3xS3C61rbxizyo1_500.gif"
                            class="card-img-top" alt="Women's Footwear">
                        <div class="card-body">
                            <h5 class="card-title">Women's Footwear</h5>
                            <p data-aos="zoom-out" class="card-text">Discover elegant and fashionable
                                women's footwear designed for your style.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://media1.tenor.com/images/9a0244afa87b4c625ff655ac961d3969/tenor.gif?itemid=21005686"
                            class="card-img-top" alt="Kid's Footwear">
                        <div class="card-body">
                            <h5 class="card-title">Kid's Footwear</h5>
                            <p data-aos="zoom-out" class="card-text">Shop fun and comfortable footwear
                                for kids that parents love.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-5">
            <h2 data-aos="zoom-out" class="text-light">Meet the Developer</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <p data-aos="zoom-out" class="text-light">This website was developed by Abhay Kumar,
                        a final year B.Tech student majoring in Information
                        Technology at HBTU Kanpur.</p>
                    <p class="text-light">Technologies used:</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="bi bi-bootstrap"></i>
                            Bootstrap</li>
                        <li class="list-inline-item"><i class="bi bi-html5"></i>
                            HTML</li>
                        <li class="list-inline-item"><i class="bi bi-css3"></i> CSS</li>
                        <li class="list-inline-item"><i class="bi bi-sass"></i> SCSS</li>
                        <li class="list-inline-item"><i class="bi bi-javascript"></i>
                            JavaScript</li>
                        <li class="list-inline-item"><i class="bi bi-node-js"></i>
                            Node.js</li>
                        <li class="list-inline-item"><i class="bi bi-mongodb"></i>
                            MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%-include('include/_contact')%>
    <%-include('include/_faq')%>
    <%-include('include/_shipping')%>
    <%-include('include/_terms')%>
    <%-include('include/_footer')%>